fastapi==0.111.0
uvicorn[standard]==0.29.0
supabase==2.4.3
pydantic==2.7.1
pydantic-core==2.18.2
pydantic-settings==0.2.5
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9